<!DOCTYPE html>
<html  lang="zh">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="renderer" content="webkit">
    <title>安徽光智库存系统</title>
    <!-- 避免IE使用兼容模式 -->
    <link rel="stylesheet" href="webjars/bootstrap/css/bootstrap.css">
</head>
<body >
<div class="container" style="height:500px">

    <div id="header" style="background-color:#FFA500;">
        <h1 style="margin-bottom:0;">主要的网页标题</h1></div>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            顶部
        </div>
    </nav>
    <div id="menu" style="background-color:#FFD700;height:200px;width:100px;float:left;">
        <b>菜单</b><br>
        HTML<br>
        CSS<br>
        JavaScript</div>

    <div id="content" style="background-color:#EEEEEE;height:200px;width:400px;float:left;">
        内容在这里</div>

    <div id="footer" style="background-color:#FFA500;clear:both;text-align:center;">
        版权 © runoob.com</div>

    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container">
            底部
        </div>
    </nav>

</div>
<script src="webjars/bootstrap/js/bootstrap.js" ></script>
<script src="webjars/jquery/jquery.js" ></script>
</body>
</html>