<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"></html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登陆界面</title>
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap/bootstrap.css">
    <script src="../static/js/bootstrap/bootstrap.js"></script>
    <script src="../static/js/jquery-3.5.1/jquery-3.5.1.js"></script>
</head>

<body>


<div id="body1">


    <!--头部-->
    <h2>
        <div>
            <!-- 导航条右侧内容 -->

            <a href="favorites.html"><span class="fa fa-heart"></span>&nbsp;入库</a>

            <a href="orders.html"><span class="fa fa-file-text"></span>&nbsp;出库</a>

            <a href="cart.html"><span class="fa fa-cart-plus"></span>&nbsp;库存管理</a>

            <a href="cart.html"><span class="fa fa-cart-plus"></span>&nbsp;借用管理</a>

            <a href="cart.html"><span class="fa fa-cart-plus"></span>&nbsp;发货管理</a>

        </div>
    </h2>


    <div id="storage">
        <h1>
            库存查询
        </h1>
        <div>
            <form>
                <!--                        -->
                <div class="row">
                    <div class="col-lg-3">
                        <div class="input-group input-group-lg">
                            <span class="input-group-addon">零部件名称</span>
                            <input type="text" class="form-control" placeholder="零部件名称"
                                   aria-describedby="sizing-addon1">
                        </div>
                    </div><!-- /.col-lg-6 -->
                    <div class="col-lg-3">
                        <div class="input-group input-group-lg">
                            <span class="input-group-addon">零部件规格</span>
                            <input type="text" class="form-control" placeholder="零部件规格"
                                   aria-describedby="sizing-addon1">
                        </div>
                    </div><!-- /.col-lg-6 -->
                    <div class="col-lg-3">
                        <div class="input-group input-group-lg">
                            <span class="input-group-addon">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp图号&nbsp&nbsp&nbsp&nbsp</span>
                            <input type="text" class="form-control" placeholder="图号"
                                   aria-describedby="sizing-addon1">
                        </div>
                    </div><!-- /.col-lg-6 -->

                    <div class="col-lg-3">
                        <div class="input-group input-group-lg">
                            <span class="input-group-addon">&nbsp&nbsp&nbsp&nbsp供货商&nbsp&nbsp&nbsp</span>
                            <input type="text" class="form-control" placeholder="供货商"
                                   aria-describedby="sizing-addon1">
                        </div>
                    </div><!-- /.col-lg-6 -->

                </div>


                <div class="row">
                    <div class="col-lg-3">
                        <div class="input-group input-group-lg">
                            <span class="input-group-addon">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp类别&nbsp&nbsp&nbsp&nbsp</span>
                            <select id="category1">
                                <option value="1">外购件</option>
                                <option value="2">镜头</option>
                                <option value="3">镜片</option>
                                <option value="4">镜头机械部分</option>
                            </select>
                        </div><!-- /.col-lg-6 -->
                    </div>

                    <div class="col-lg-3">
                        <div class="input-group input-group-lg">
                            <span class="input-group-addon">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp库位&nbsp&nbsp&nbsp&nbsp</span>
                            <input type="text" class="form-control" placeholder="库位"
                                   aria-describedby="sizing-addon1">
                        </div>

                    </div>

                    <div class="col-lg-3">
                        <div class="input-group input-group-lg">
                            <span class="input-group-addon">&nbsp&nbsp&nbsp&nbsp创建人&nbsp&nbsp&nbsp</span>
                            <input type="text" class="form-control" value="王美林" placeholder="创建人"
                                   aria-describedby="sizing-addon1">
                        </div>
                    </div><!-- /.col-lg-6 -->

                    <div class="col-lg-3">
                        <div class="input-group input-group-lg">
                            <span class="input-group-addon">&nbsp&nbsp创建时间&nbsp</span>
                            <input type="date" class="form-control" placeholder="创建时间"
                                   aria-describedby="sizing-addon1">
                        </div>
                    </div><!-- /.col-lg-6 -->
                </div>


                <div class="row">
                    <button type="button" class="btn btn-info">查询</button>
                </div>
            </form>
        </div>
        <div class="storage">
            <table id="t2" class="table table-hover">
                <tr>
                    <th>序号</th>
                    <th>零部件名称</th>
                    <th>零部件规格</th>
                    <th>图号</th>
                    <th>材料</th>
                    <th>供货商</th>
                    <th>类别</th>
                    <th>数量</th>
                    <th>库位</th>
                    <th>创建人</th>
                    <th>创建时间</th>
                    <th>备注</th>
                    <th>操作</th>
                </tr>
                <tr th:each="storeage,storeageStatus :${storeageList}">
                    <td th:text="${storeageStatus.index + 1}"></td>
                    <td th:text="${storeage.figureNumber}"></td>
                    <td th:text="${storeage.partName}"></td>
                    <td th:text="${storeage.partSpecification}"></td>

                    <td th:text="${storeage.material}"></td>
                    <td th:text="${storeage.supplier}"></td>
                    <td th:text="${storeage.category}"></td>
                    <td th:text="${storeage.number}"></td>
                    <td th:text="${storeage.location}"></td>
                    <td th:text="${storeage.createdName}"></td>
                    <td th:text="${storeage.createdTime}"></td>
                    <td th:text="${storeage.mark}"></td>  <!-- 需要传递id -->
                    <td>
                        <button class="btn-default" th:onclick="'javascript:update('+${storeage.id}+')' ">修改</button>
                        <button class="btn-danger" th:onclick="'javascript:del('+${storeage.id}+')' ">删除</button>
                    </td>
                </tr>
            </table>

        </div>
    </div>
</div>

</div>

</div>

<!--<button id="btn" class="btn-danger">按钮</button>-->


</div>
</body>

<style>


    body {
        /*background-color: #30cfd0;*/
        text-align: center;
        margin: 0 auto;
    }

    #category1 {

        width: 251px;
        height: 45px;
        border: chartreuse;
        border-radius: 2px;

    }

</style>


<script>

    function update(id)
    {
        alert(id+"  修改");
    };
    function del(id)
    {
        alert(id+"  删除");
    };


    $(document).ready(function () {


        $("#btn").click(function () {
            alert("未知得操作！")
            // var username = $("#username").val();
            // var password = $("#password").val();
            //
            // var error = "";
            // if (username == "") {
            //     error += "用户名不能为空！";
            //     error += "\n";
            // } else if (password == "") {
            //     error += "密码不能为空！";
            //     error += "\n";
            // }
            // if (error != "") {
            //     alert(error);
            // } else {
            //     $.ajax({
            //         type: 'GET',
            //         dataType: 'json',
            //         url: 'http://localhost:8080/addressList/add',
            //         contentType: 'application/json;charset=UTF-8',
            //         data: JSON.stringify({"username": username, "password": password}),
            //         success: function (data1) {//返回结果
            //             if (data1) {
            //                 window.location.href = "success.html?userName=" + username;
            //                 //data.username
            //             } else {
            //                 //debugger;
            //                 alert("用户名或密码错误");
            //             }
            //         }
            //     });
            // }
        });
    })

</script>

</html>