<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vot.ahgz.mapper.AddressListMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.vot.ahgz.entity.AddressList">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="telephone" property="telephone" />
        <result column="address" property="address" />
        <result column="mark" property="mark" />
        <result column="created_name" property="createdName" />
        <result column="created_time" property="createdTime" />
        <result column="updated_name" property="updatedName" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, telephone, address, mark, created_name, created_time, updated_name, update_time
    </sql>
    <!--  是否设定默认的条数，避免一次性倒出太多数据库奔溃  -->
    <select id="getAll" resultMap="BaseResultMap">
        select * from address_list
    </select>

    <select id="getByName" resultMap="BaseResultMap" >
        select * from address_list where name = #{name}
    </select>

    <insert id="insertAddressList" useGeneratedKeys="true">
        insert into address_list
         'name' , telephone ,address ,created_name ,
         created_time , updated_name , update_time ,mark value (
         'name' = #{addressList.name},
         telephone = #{addressList.telephone},
         address = #{addressList.address}  ,
         created_name = #{addressList.createdName},
         created_time = #{addressList.createdTime} ,
         updated_name = #{addressList.updatedName}  ,
         update_time = #{addressList.updateTime} ,
         mark = #{addressList.mark}
        );
    </insert>

    <update id="updateByName" useGeneratedKeys="true">
      update address_list set
        <if test="addressList.name != null">
           and  address_list.name = #{addressList.name}
        </if>
        <if test="addressList.telephone != null">
            and  addressList.telephone = #{addressList.telephone}
        </if>
        <if test="addressList.address != null">
            and  addressList.address = #{addressList.address}
        </if>
        <if test="addressList.createdName != null">
            and  addressList.createdName = #{addressList.createdName}
        </if>
        <if test="addressList.createdTime != null">
            and  addressList.createdTime = #{addressList.createdTime}
        </if>
        <if test="addressList.updatedName != null">
            and  addressList.updatedName = #{addressList.updatedName}
        </if>
        <if test="addressList.updateTime != null">
            and  addressList.updateTime = #{addressList.updateTime}
        </if>
        <if test="addressList.mark != null">
            and  addressList.mark = #{addressList.mark}
        </if>
        where addressList.name = # {addressList.name};
    </update>

    <delete id="deleteByName" parameterType="java.lang.String" >
        delete from address_list where name = #{name}
    </delete>
</mapper>
